<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instay.title %>
</p>

<%= image_tag(@instay.thumbnail, style:"width: 400px; height:400px") %>

<%= video_tag(url_for(@instay.clip), style:"width:400px; height:auto", controls: '') %>

<p>
  <strong>Description:</strong>
  <%= @instay.description %>
</p>

<%= link_to 'Edit', edit_instay_path(@instay) %> |
<%= link_to 'Back', instays_path %>
